@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Custom Fonts */
@font-face {
  font-family: 'PovetaracSansBold';
  src: url('../assets/fonts/PovetaracSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PovetaracSansBlack';
  src: url('../assets/fonts/PovetaracSans-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PovetaracSansHeavy';
  src: url('../assets/fonts/PovetaracSans-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PovetaracSansBold';
  src: url('../assets/fonts/PovetaracSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PovetaracSanslight';
  src: url('../assets/fonts/PovetaracSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.dropdown-hidden {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
}


.custom-radio {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #013476; /* outer border */
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-radio:checked::before {
  content: "";
  width: 12px;   /* slightly smaller than outer */
  height: 12px;
  background-color: #00c2cc; /* inner dot */
  border-radius: 50%;
}

